body
{
    text-align: center;
}
#apple
{
    background-color: aliceblue;
}
#myCarousel
{
    background-color: red;
}
#Heading
{
    width: 80%;
}
#abc
{
    width: 150px;
    height: 100px;
}